<server description="HelloWorld EJB Server with JSP and CDI">

    <featureManager>
      <feature>enterpriseBeansRemote-4.0</feature>
      <feature>servlet-6.0</feature>
      <feature>faces-4.0</feature>
      <feature>cdi-4.0</feature>
      <feature>appClientSupport-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="-1" host="*"/>
    <iiopEndpoint id="defaultIiopEndpoint" host="localhost" iiopPort="2814" />
    
    <!-- Logging configuration -->
    <logging traceSpecification="*=info:Naming=all:IIOP=all:org.apache.yoko.*=all:yoko.verbose.*=all" maxFileSize="20" maxFiles="10" />
    
</server>